.homeContainer {
  padding: 24px;
}

.dashboardGrid {
  --dashboard-grid-height: 120px;
  --dashboard-grid-gap: 16px;
  --dashboard-grid-columns: 16;

  padding: 16px;
  grid-gap: var(--dashboard-grid-gap);
  display: grid;
  gap: var(--dashboard-grid-gap);
  grid-auto-flow: row dense;
  grid-auto-rows: var(--dashboard-grid-height);
  grid-template-columns: repeat(var(--dashboard-grid-columns), 1fr);

  .dashboardCard {
    border-radius: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;

    &.rowSm {
      grid-row-start: span 1;
    }

    &.rowMd {
      grid-row-start: span 2;
    }

    &.rowLg {
      grid-row-start: span 3;
    }

    &.rowXl {
      grid-row-start: span 4;
    }

    &.colSm {
      grid-column-start: span 2;
    }

    &.col3 {
      grid-column-start: span 3;
    }

    &.colMd {
      grid-column-start: span 4;
    }

    &.col5 {
      grid-column-start: span 5;
    }

    &.colLg {
      grid-column-start: span 6;
    }

    &.colXl {
      grid-column-start: span 8;
    }

    .cardHeader {
      align-items: center;
      display: flex;
      gap: 12px;
      padding: 12px 16px 8px 16px;

      .cardTitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 2px;
        display: flex;
        gap: 4px;
        align-items: center;
        color: #34539f;
      }
    }

    .cardModule {
      flex-grow: 1;
      overflow: auto;
      padding: 0 16px 8px;
    }
  }
}

.topExpenseCard {
  border-radius: 6px;
  width: 100%;
  padding: 8px;
}

.categorieCard {
  padding: 8px;
  border-radius: 8px;
  height: fit-content;
  min-width: 168px;
  width: 100%;

  .emojiContainer {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.emptyStateAccounts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.emptyStateNews {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.banksSection {
  --banks-grid-height: 78px;
  --banks-grid-gap: 16px;
  grid-gap: var(--banks-grid-gap);
  display: grid;
  gap: var(--banks-grid-gap);
  grid-auto-flow: row dense;
  grid-auto-rows: var(--banks-grid-height);
  grid-template-columns: repeat(2, 1fr);

  .bankElement {
    display: flex;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .dashboardGrid {
    //--dashboard-grid-columns: 4;

    .dashboardCard {
      &.expensesGrid {
        order: 1;
      }

      &.newsGrid {
        order: 3;
      }

      &.banksGrid {
        order: 2;
      }

      &.colMd {
        grid-column-start: span 8;
      }
      &.rowLg {
        grid-row-start: span 3;
      }
      &.rowXl {
        grid-row-start: span 2;
      }
      &.md {
        //grid-column-start: span 2;
      }
      &.lg {
        //grid-column-start: span 2;
      }
      &.xl {
        //grid-column-start: span 2;
      }
    }
  }
}

@media (max-width: 1080px) {
  .dashboardGrid {
    //--dashboard-grid-columns: 4;

    .dashboardCard {
      &.col3 {
        grid-column-start: span 6;
      }

      &.col5 {
        grid-column-start: span 10;
      }

      &.expensesGrid {
        order: 1;
      }

      &.newsGrid {
        order: 3;
      }

      &.banksGrid {
        order: 2;
      }

      &.colMd {
        grid-column-start: span 8;
      }
      &.rowLg {
        grid-row-start: span 4;
      }
      &.rowXl {
        grid-row-start: span 2;
      }
      &.md {
        //grid-column-start: span 2;
      }
      &.lg {
        //grid-column-start: span 2;
      }
      &.xl {
        //grid-column-start: span 2;
      }
    }
  }
}

@media (max-width: 750px) {
  .dashboardGrid {
    .dashboardCard {
      &.col3 {
        grid-column-start: span 16;
      }

      &.col5 {
        grid-column-start: span 16;
      }

      &.expensesGrid {
        grid-column-start: span 16;
        grid-row-start: span 3;
      }

      &.newsGrid {
        grid-column-start: span 16;
        grid-row-start: span 3;
      }

      &.banksGrid {
        grid-column-start: span 16;
        grid-row-start: span 3;
      }

      &.md {
        //grid-column-start: span 2;
      }
      &.lg {
        //grid-column-start: span 2;
      }
      &.xl {
        //grid-column-start: span 2;
      }
    }
  }
}
